.section-library-description {
  margin: 1rem 0;
}

.section-library-filter {
  box-sizing: border-box;
}

.section-library-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  padding: 0;

  & li {
    display: flex;
    justify-content: space-between;
    width: calc(33.3333% - 2rem);
    margin-bottom: 0;
    padding: 0 0.5rem 1rem 0.5rem;
  }

  & .js-layout-builder-section-library-link {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    padding: 1.5rem;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);

    &:hover {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.section-library-link-img {
  display: block;
  width: 100%;

  img {
    display: block;
    max-width: 100%;
    max-height: 150px;
    margin: 0 auto;
  }
}

.section-library-link-label {
  display: block;
  padding-top: 1rem;
  text-align: center;
}

.section-library-filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: -15px;
  margin-left: -15px;

  & > div {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    &:last-child {
      flex-grow: initial;
      flex-shrink: 1;
      width: 30%;
      min-width: 170px;
    }
  }
}

/* If #layout_builder_modal enabled */
#layout-builder-modal {
  > .section-library-filter.form-search {
    box-sizing: border-box;
  }

  > .section-library-filters > div:last-child {
    min-width: calc(33.3333% + 5px);
  }

  > .section-library-links li {
    width: 33.33333%;
  }
}

/* links */
.layout-builder__link--add-section-to-library {
  padding-left: 1.6em; /* LTR */
  color: #686868;
  border-bottom: none;
  /* prettier-ignore */
  background: url(../images/icons/787878/save.svg) transparent center left / 1.5em no-repeat; /* LTR */
}

[dir="rtl"] .layout-builder__link--add-section-to-library {
  padding-right: 1.6em;
  padding-left: 0;
  background-position-x: right;
}

.layout-builder__link--import-from-library {
  padding-left: 1.3em; /* LTR */
  color: #686868;
  border-bottom: none;
  /* prettier-ignore */
  background: url(../images/icons/787878/import.svg) transparent center left / 1em no-repeat; /* LTR */
}

[dir="rtl"] .layout-builder__link--import-from-library {
  padding-right: 1.3em;
  padding-left: 0;
  background-position-x: right;
}

.layout-builder__link--add-section-to-library,
.layout-builder__link--import-from-library {
  margin-left: 1rem;

  &:hover,
  &:active,
  &.focus {
    color: #000;
    border-bottom-style: none;
  }
}

.layout-builder__link--add-template-to-library {
  display: block;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  border: 1px solid #eee;
  background: #eee;
}
